<nav class="class-relative-menu class-relative-push-menu-left">
    <div ng-if="loadingRelatives" class="relative-class-name">
        Loading...
    </div>
    <div ng-if="!loadingRelatives">
        <!--<ul>-->
            <!--<li search-result-menu-item="" search-result-type="Package" ng-class="{'selected': selected}">-->
            <!--</li>-->
        <!--</ul>-->
        <ul style="border-top: 1px solid #333">
            <li search-result-menu-item="" search-result-type="Class" ng-repeat="item in classRelativeResults.ancestors" ng-class="{'selected': selected}">
            </li>
        </ul>
        <ul style="border-top: 1px solid #333">
            <li search-result-menu-item="" search-result-type="Class" ng-repeat="item in classRelativeResults.descendants" ng-class="{'selected': selected}">
            </li>
        </ul>
    </div>
</nav>


